@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
        height: 100vh;
        box-sizing: border-box;
        background-color:rgb(6, 81, 116) ;
        color: antiquewhite;
}

.titulo-destaque {
        color: #000000;}

.conteudo {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 45px;

}

.apresentacao-conteudo-titulo {
        font-size: 38px;
        font-family: 'Krona One', 'sans-serif';
}

.apresentacao-conteudo-paragrafo {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
}

.apresentacao-links {
        display:'flex';
        justify-content: space-between;
        align-items: center;
        width: 1000px
        
}

.botao {
        background-color: aquamarine;
        color: rgb(255, 255, 255);
        width: 280px;
        text-align: center;
        border-radius: 16px;
        font-size: 30px;
        padding: 16px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        border: none;
        cursor: pointer;
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
        background: linear-gradient(to right, #000000fb, #318f8f);
        transition: step-start 0.3s ease;
    }

    .botao:hover {
        transform: scale(1.1); 
    }
    
.imagem{
        max-width: 100%;
        width: 350px;
        height: 480px;
        overflow: hidden;
        border-radius: 10%;
        border: 5px solid #07d9f5fb;
        padding: 12px;
        display: inline-block;
        box-shadow: 15px 10px 15px 15px rgba(52, 208, 247, 0.5);
        filter: brightness(0.8);
        
}