@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
        height: 100vh;
        box-sizing: border-box;
        background-color:rgb(48, 6, 116) ;
        color: antiquewhite;
}

.titulo-destaque {
        color: #22d4fd;}

.conteudo {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 45px;

}

.apresentacao-conteudo-titulo {
        font-size: 38px;
        font-family: 'Krona One', 'sans-serif';
}

.apresentacao-conteudo-paragrafo {
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
}

.apresentacao-links {
        display:'flex';
        justify-content: space-between;
        align-items: center;
        width: 1000px
        
}

.botao{
        background-color: aquamarine;
        color: black;
        width: 280px;
        text-align: center;
        border-radius: 16px;
        font-size: 30px;
        padding: 16px;
        text-decoration: none;
        font-family:'Montserrat', sans-serif ;
        border: none;
        cursor: pointer;
        transition:0.1s ease;
        flex:1;
        margin-left: 10px;
        margin-right: 10px;
}

.botao:hover {
        background-color: rgba(255, 255, 255, 0.938);
}

.botao:active {
        transform: scale(1.5);
}
 
.imagem{
        max-width: 100%;
        width: 1000px;
        overflow: hidden;
        border-radius: 10%;
        border: 5px solid #07d9f5fb;
        padding: 12px;
        display: inline-block;
        box-shadow: 15px 10px 15px 15px rgba(52, 208, 247, 0.5);
        filter: brightness(1.2);
        
}